name: "{{ experiment_name }}"
description: "{{ experiment_description }}"

prompt_partials:
  {% for partial in prompt_partials %}
  - name: "{{ partial.name }}"
    content: |-
{% for line in partial.content.splitlines() %}      {{ line }}
{% endfor %}
  {% endfor %}

agent_roles:
  {% for role in agent_roles %}
  - role_id: {{ role.role_id }}
    name: "{{ role.name }}"
    llm_type: "{{ role.llm_type if role.llm_type is not none and role.llm_type|lower != 'none' else 'ChatOpenAI' }}"
    llm_params: {{ role.llm_params | default('{}') }}
    prompts:  # use partial prompts from prompt_partials if needed
      {% for prompt in role.prompts %}
      - {{ prompt.key }}: |-
{% for line in prompt.value.splitlines() %}          {{ line }}
{% endfor %}
      {% endfor %}
    task_phases: {{ role.task_phases | default('[]') }}
    task_phases_excluded: {{ role.task_phases_excluded | default('[]') }}
  {% endfor %}

agents:  
  {% for agent in agents %}
  - id: {{ agent.id }}
    role_id: {{ agent.role_id }}
  {% endfor %}

state:
  meta_information:
    {% for field in state.meta_information %}
    - name: "{{ field.name }}"
      type: "{{ field.type }}"
      default: {{ field.default | default('null') }}
      default_factory: {{ field.default_factory | default('null') }}
      event_key: {{ field.event_key | default('null') }}
      exclude_from_mapping: {{ field.exclude_from_mapping | default('false') }}
      optional: {{ field.optional | default('false') }}
      events: {{ field.events | default('[]') }}
      exclude_events: {{ field.exclude_events | default('[]') }}
    {% endfor %}
  private_information:
    {% for field in state.private_information %}
    - name: "{{ field.name }}"
      type: "{{ field.type }}"
      default: {{ field.default | default('null') }}
      default_factory: {{ field.default_factory | default('null') }}
      event_key: {{ field.event_key | default('null') }}
      exclude_from_mapping: {{ field.exclude_from_mapping | default('false') }}
      optional: {{ field.optional | default('false') }}
      events: {{ field.events | default('[]') }}
      exclude_events: {{ field.exclude_events | default('[]') }}
    {% endfor %}
  public_information:
    {% for field in state.public_information %}
    - name: "{{ field.name }}"
      type: "{{ field.type }}"
      default: {{ field.default | default('null') }}
      default_factory: {{ field.default_factory | default('null') }}
      event_key: {{ field.event_key | default('null') }}
      exclude_from_mapping: {{ field.exclude_from_mapping | default('false') }}
      optional: {{ field.optional | default('false') }}
      events: {{ field.events | default('[]') }}
      exclude_events: {{ field.exclude_events | default('[]') }}
    {% endfor %}

manager: # set by human
  type: "{{ manager.type | default('TurnBasedPhaseManager') }}"
  event_handlers:  
    {% for handler in manager.event_handlers %}
    - event: "{{ handler.event }}"
      custom_code: |  
        {{ handler.custom_code | default('') | indent(8) }}
      custom_module: "{{ handler.custom_module | default('') }}"
      custom_function: "{{ handler.custom_function | default('') }}"
    {% endfor %}

runner: # set by human
  type: "{{ runner.type | default('GameRunner') }}"
  protocol: "{{ runner.protocol | default('ws') }}"
  hostname: "{{ runner.hostname }}"
  path: "{{ runner.path | default('wss') }}"
  port: {{ runner.port }}
  game_id: {{ runner.game_id }}
  logs_dir: "{{ runner.logs_dir | default('logs') }}"
  log_level: "{{ runner.log_level | default('INFO') }}"
  prompts_dir: "{{ runner.prompts_dir | default('prompts') }}"
  phase_transition_event: "{{ runner.phase_transition_event | default('phase-transition') }}"
  phase_identifier_key: "{{ runner.phase_identifier_key | default('phase') }}"
  observability_provider: "{{ runner.observability_provider | default('') }}"
  continuous_phases: {{ runner.continuous_phases | default('[]') }} , for HybridGameRunner
  min_action_delay: {{ runner.min_action_delay | default('5') }}    , for HybridGameRunner
  max_action_delay: {{ runner.max_action_delay | default('10') }}   , for HybridGameRunner
